@model SalticosAdmin.Modelos.ServicioAdicional
@using SalticosAdmin.Utilidades
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear nuevo servicio adicional";
}

<form method="post" id="formServicioAdicional" enctype="multipart/form-data">

    @if (Model.Id != 0)
    {
        titulo = "Editar servicio adicional";
        <input asp-for="Id" hidden />
        <input asp-for="ImageUrl" hidden />
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            <input asp-for="Nombre" class="form-control" id="nombre"/>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Descripcion</label>
                            <input asp-for="Descripcion" class="form-control" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <label>Imagen</label>
                            <input type="file" accept="image/png, image/gif, image/jpeg" name="files" id="imagenId" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Inventario</label>
                            <input asp-for="Inventario" class="form-control" type="number" />
                            <span asp-validation-for="Inventario" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Precio</label>
                            <input asp-for="Precio" class="form-control" type="number" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                    </div>

                    <br />

                    <div class="d-flex justify-content-start align-items-center gap-2">
                        @if (Model.Id != 0)
                        {
                            <div class="d-flex justify-content-start gap-2">
                                <button type="submit" class="custom-btn-servicios-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                                    <i class="bi bi-pencil-square"></i> Guardar cambios
                                </button>
                                <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/ServicioAdicional/Index">
                                    <i class="bi bi-arrow-return-left"></i> Regresar
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-start gap-2 mt-3">
                                <button type="submit" onclick="return validarImagen()" class="custom-btn-servicios-inverso btn btn-success">
                                    <i class="bi bi-plus-square-fill"></i> Crear
                                </button>
                                <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/ServicioAdicional/Index">
                                    <i class="bi bi-arrow-return-left"></i> Regresar
                                </a>
                            </div>
                        }
                    </div>


                </div>
            </div>

            <div class="col-4">
                @if (Model.Id != 0)
                {
                    <img src="@DS.ImagenRutaServicioAdicional@Model.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>


        </div>


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        function validarImagen() {
            if (document.getElementById("imagenId").value == "") {
                swal("Error", "Seleccione una Imagen", "error")
                return false;
            }
            return true;
        }


        document.getElementById("nombre").addEventListener('change', function () {
            validarNombre();
        });



        document.getElementById("formServicioAdicional").addEventListener('submit', function (event) {
            event.preventDefault();
            validarNombreAntesDeEnviar();
        });

        function validarNombreAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/ServicioAdicional/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombreInput = document.getElementById("nombre");
                        swal("Error", "Nombre ya existe", "error");
                        nombreInput.value = "";
                        return;
                    } else {
                        document.getElementById("formServicioAdicional").submit();
                    }
                });
            });
        }

        function validarNombre() {
            var url = '@Url.Content("~/")' + "Admin/ServicioAdicional/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Nombre ya existe", "error");
                        nombre.value = "";
                        return;
                    }
                });

            })

        }

    </script>
}

