@model SalticosAdmin.Modelos.Seguro

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear nuevo seguro";

}

<form method="post" id="formSeguro">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>

        @if (Model.Id != 0)
        { // Actualizar
            titulo = "Actualizar seguro";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Tipo seguro</label>
                <input type="text" asp-for="TipoSeguro" class="form-control" placeholder="Tipo Seguro" id="TipoSeguro" />
                <span asp-validation-for="TipoSeguro" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre aseguradora</label>
                <input type="text" asp-for="NombreAseguradora" class="form-control" placeholder="NombreAseguradora" />
                <span asp-validation-for="NombreAseguradora" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Número de póliza</label>
                <input type="number" asp-for="NumeroPoliza" class="form-control" placeholder="Numero Poliza" id="poliza" />
                <span asp-validation-for="NumeroPoliza" class="text-danger"></span>
            </div>
        </div>


        @if (Model.Id != 0)
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha inicio</label>
                    <input asp-for="FechaInicio" class="form-control" type="date" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha inicio</label>
                    <input asp-for="FechaInicio" class="form-control" type="date"
                           value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
            </div>
        }


        @if (Model.Id != 0)
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha vencimiento</label>
                    <input asp-for="FechaVencimiento" class="form-control" type="date" />
                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha vencimiento</label>
                    <input asp-for="FechaVencimiento" class="form-control" type="date"
                           value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                </div>
            </div>
        }


        <div class="row">
            <div class="col-md-6">
                <label>Estado</label>
                <select asp-for="Estado" class="form-select">
                    <option value="true">Vigente</option>
                    <option value="false">Vencido</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>


        <br />

        <div>

            @if (Model.Id != 0)
            {
                <div class="d-flex justify-content-start gap-2">
                    <button type="submit" class="custom-btn-otros-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                        <i class="bi bi-pencil-square"></i> Guardar cambios
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Seguro/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-start gap-2 mt-3">
                    <button type="submit" class="custom-btn-otros-inverso btn btn-primary" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Seguro/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }

        </div>


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("poliza").addEventListener('change', function () {
            validarPoliza();
        });


        document.getElementById("formSeguro").addEventListener('submit', function (event) {
            event.preventDefault();
            validarPolizaAntesDeEnviar();
        });


        function validarPolizaAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/RolPersonal/ValidarNombre";
            var id = '#id';
            var poliza = '#poliza';

            $.getJSON(url, { id: $(id).val(), poliza: $(poliza).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var polizaInput = document.getElementById("poliza");
                        swal("Error", "Poliza ya existe", "error");
                        polizaInput.value = "";
                        return;
                    } else {
                        document.getElementById("formSeguro").submit();
                    }
                });
            });
        }

        function validarPoliza() {
            var url = '@Url.Content("~/")' + "Admin/Seguro/ValidarPoliza";
            var id = '#id';
            var poliza = '#poliza';

            $.getJSON(url, { id: $(id).val(), poliza: $(poliza).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var placa = document.getElementById("poliza");
                        swal("Error", "Poliza ya Existe", "error");
                        poliza.value = "";
                    }
                });

            })

        }

    </script>
}