@model SalticosAdmin.Modelos.ViewModels.PersonalVM
@using SalticosAdmin.Utilidades
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear nuevo personal";
}

<form method="post" id="formPersonal">

    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>

        @if (Model.Personal.Id != 0)
        {
            titulo = "Editar personal";
            <input asp-for="Personal.Id" hidden />
        }

        <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input asp-for="Personal.Nombre" class="form-control" />
                <span asp-validation-for="Personal.Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Apellidos</label>
                <input asp-for="Personal.Apellidos" class="form-control" />
                <span asp-validation-for="Personal.Apellidos" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Teléfono</label>
                <input asp-for="Personal.Telefono" class="form-control" />
                <span asp-validation-for="Personal.Telefono" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Correo</label>
                <input asp-for="Personal.Correo" class="form-control" />
                <span asp-validation-for="Personal.Correo" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Cédula</label>
                <input asp-for="Personal.Cedula" class="form-control" id="cedula" />
                <span asp-validation-for="Personal.Cedula" class="text-danger"></span>
            </div>
        </div>




        @if (Model.Personal.Id != 0)
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha de nacimiento</label>
                    <input asp-for="Personal.FechaNacimiento" class="form-control" type="date"
                           min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Personal.FechaNacimiento" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha de entrada</label>
                    <input asp-for="Personal.FechaEntrada" class="form-control" type="date"
                           min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Personal.FechaEntrada" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha de nacimiento</label>
                    <input asp-for="Personal.FechaNacimiento" class="form-control" type="date"
                           value="@DateTime.Now.ToString("yyyy-MM-dd")"
                           min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Personal.FechaNacimiento" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha de entrada</label>
                    <input asp-for="Personal.FechaEntrada" class="form-control" type="date"
                           value="@DateTime.Now.ToString("yyyy-MM-dd")"
                           min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Personal.FechaEntrada" class="text-danger"></span>
                </div>
            </div>
        }


        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Rol</label>
                <select asp-for="Personal.RolPersonalId" asp-items="@Model.RolPersonalLista" class="form-select">
                    <option disabled selected>-- Seleccione un Rol --</option>
                </select>
                <span asp-validation-for="Personal.RolPersonalId" class="text-danger"></span>
            </div>
        </div>


        <br />

        <div class="d-grid gap-2 d-md-block">
            @if (Model.Personal.Id != 0)
            {
                <div class="d-flex justify-content-start gap-2">
                    <button type="submit" class="custom-btn-personal-inverso btn btn-primary" onfocus="false" asp-route-id="@Model.Personal.Id">
                        <i class="bi bi-pencil-square"></i> Guardar cambios
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Personal/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-start gap-2 mt-3">
                    <button type="submit" class="custom-btn-personal-inverso btn btn-primary" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Personal/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }

        </div>


    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("cedula").addEventListener('change', function () {
            validarCedula();
        });



        document.getElementById("formPersonal").addEventListener('submit', function (event) {
            event.preventDefault();
            validarCedulaAntesDeEnviar();
        });

        function validarCedulaAntesDeEnviar() {
            var url = '@Url.Content("~/")' + "Admin/Personal/ValidarCedula";
            var id = '#id';
            var cedula = '#cedula';

            $.getJSON(url, { id: $(id).val(), cedula: $(cedula).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var cedulaInput = document.getElementById("cedula");
                        swal("Error", "Cedula ya Existe", "error");
                        cedulaInput.value = "";
                        return;
                    } else {
                        document.getElementById("formPersonal").submit();
                    }
                });
            });
        }




        function validarCedula() {
            var url = '@Url.Content("~/")' + "Admin/Personal/ValidarCedula";
            var id = '#id';
            var cedula = '#cedula';

            $.getJSON(url, { id: $(id).val(), cedula: $(cedula).val() }, function (data) {

                $.each(data, function (key, value) {
                    if (value) {
                        var cedula = document.getElementById("cedula");
                        swal("Error", "Cedula ya Existe", "error");
                        cedula.value = "";
                        return;
                    }
                });

            })

        }

    </script>
}

