@model SalticosAdmin.Modelos.Capacitacion

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear capacitación";

}

<form method="post" id="formCapacitacion">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>

        @if (Model.Id != 0)
        { // Actualizar
            titulo = "Actualizar capacitación";
            <input type="hidden" asp-for="Id" id="id" />
        }

        <div class="col-12 border-bottom p-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
            </div>
        </div>


        @if (Model.Id != 0)
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha</label>
                    <input asp-for="Fecha" class="form-control" type="date"
                           min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
        }
        else
        {
            <div class="row mb-2 mt-2">
                <div class="form-group col-md-6">
                    <label>Fecha</label>
                    <input asp-for="Fecha" class="form-control" type="date"
                           value="@DateTime.Now.ToString("yyyy-MM-dd")"
                           min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
        }

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Tema</label>
                <input type="text" asp-for="Tema" class="form-control" placeholder="Tema de la Capacitacion" />
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Duración</label>
                <input type="text" asp-for="Duracion" class="form-control" placeholder="Duracion de la Capacitacion" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
        </div>


        <br />

        <div>


            @if (Model.Id != 0)
            {
                <div class="d-flex justify-content-start gap-2">
                    <button type="submit" class="custom-btn-personal-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                        <i class="bi bi-pencil-square"></i> Guardar Cambios
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Capacitacion/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-start gap-2 mt-3">
                    <button type="submit" class="custom-btn-personal-inverso btn btn-primary" onfocus="false">
                        <i class="bi bi-plus-square-fill"></i> Crear
                    </button>
                    <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Capacitacion/Index">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            }

        </div>


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>



    </script>
}