@model SalticosAdmin.Modelos.ViewModels.InflableVM
@using SalticosAdmin.Utilidades
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear nuevo inflable";
}

<form method="post" id="formInflable" enctype="multipart/form-data">

    @if (Model.Inflable.Id != 0)
    {
        titulo = "Editar inflable";
        <input asp-for="Inflable.Id" hidden />
        <input asp-for="Inflable.ImageUrl" hidden />
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 style="font-weight: bold; color: #000000;">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            <input asp-for="Inflable.Nombre" class="form-control" id="nombre"/>
                            <span asp-validation-for="Inflable.Nombre" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Descripción</label>
                            <input asp-for="Inflable.Descripcion" class="form-control" />
                            <span asp-validation-for="Inflable.Descripcion" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Dimensiones</label>
                            <input asp-for="Inflable.Dimensiones" class="form-control" />
                            <span asp-validation-for="Inflable.Dimensiones" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Estado</label>
                            <select asp-for="Inflable.Estado" class="form-select">
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                            </select>
                            <span asp-validation-for="Inflable.Estado" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Imagen</label>
                            <input type="file" accept="image/png, image/gif, image/jpeg" name="files" id="imagenId" class="form-control" />
                            <span asp-validation-for="Inflable.ImageUrl" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Precio</label>
                            <div class="input-group">
                                <span class="input-group-text">₡</span>
                                <input asp-for="Inflable.Precio" class="form-control" type="number" min="0"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Precio hora adicional</label>
                            <div class="input-group">
                                <span class="input-group-text">₡</span>
                                <input asp-for="Inflable.PrecioHoraAdicional" class="form-control" type="number" min="0" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Categoría tamaño</label>
                            <select asp-for="Inflable.CategoriaTamannoId" asp-items="@Model.CategoriaTamannoLista" class="form-select">
                                <option disabled selected>-- Seleccione una Categoría por Tamaño --</option>
                            </select>
                            <span asp-validation-for="Inflable.CategoriaTamannoId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Categoría edad</label>
                            <select asp-for="Inflable.CategoriaEdadId" asp-items="@Model.CategoriaEdadLista" class="form-select">
                                <option disabled selected>-- Seleccione una Categoría por Edad --</option>
                            </select>
                            <span asp-validation-for="Inflable.CategoriaEdadId" class="text-danger"></span>
                        </div>
                    </div>

                    <br />

                    <div class="d-flex justify-content-start align-items-center gap-2">
                        @if (Model.Inflable.Id != 0)
                        {
                            <div class="d-flex justify-content-start gap-2">
                                <button type="submit" class="custom-btn-servicios-inverso btn btn-primary" onfocus="false" asp-route-id="@Model">
                                    <i class="bi bi-pencil-square"></i> Guardar cambios
                                </button>
                                <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Inflable/Index">
                                    <i class="bi bi-arrow-return-left"></i> Regresar
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-start gap-2 mt-3">
                                <button type="submit" onclick="return validarImagen()" class="custom-btn-servicios-inverso btn btn-success">
                                    <i class="bi bi-plus-square-fill"></i> Crear
                                </button>
                                <a class="btn shadow-sm btn-regresar btn-md" href="/Admin/Inflable/Index">
                                    <i class="bi bi-arrow-return-left"></i> Regresar
                                </a>
                            </div>
                        }
                    </div>


                </div>
            </div>

            <div class="col-4">
                @if (Model.Inflable.Id != 0)
                {
                    <img src="@DS.ImagenRutaInflable@Model.Inflable.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>


        </div>


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        function validarImagen() {
            if (document.getElementById("imagenId").value == "") {
                swal("Error", "Seleccione una Imagen", "error")
                return false;
            }
            return true;
        }

    </script>
}

